/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-d9tic5ys1d] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-d9tic5ys1d] {
  color: #068ff0;
}

.btn-primary[b-d9tic5ys1d] {
  color: #068ff0;
  background-color: #068ff0;
  border-color: #068ff0;
}

.nav-pills .nav-link.active[b-d9tic5ys1d], .nav-pills .show > .nav-link[b-d9tic5ys1d] {
  color: #068ff0;
  background-color: #068ff0;
  border-color: #068ff0;
}

.border-top[b-d9tic5ys1d] {
  border-top: 1px solid #068ff0;
}
.border-bottom[b-d9tic5ys1d] {
  border-bottom: 1px solid #068ff0;
}

.box-shadow[b-d9tic5ys1d] {
  box-shadow: 0 .100rem .200rem rgba(100, 500, 400, 0.999);
}

button.accept-policy[b-d9tic5ys1d] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-d9tic5ys1d] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
